/*Font Family*/
@font-face {
  font-family: font1;
  src: url("./Font/raleway.semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*Main section*/
main {
  height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  background-color: rgb(90, 85, 85);
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: hidden;
}

/*Card section*/
.card {
  position: relative;
  height: 60%;
  width: 20%;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 30px;
  overflow: hidden;
}

/*Card image section*/
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}

/*Card Buttom div*/
.bottom {
  height: 20%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  /* background-color: aquamarine; */
  background: linear-gradient(transparent, black);
  border-radius: 30px;
  bottom: -20%;
  transition: all 0.3s ease;
}

/*Card Buttom div hover*/
.card:hover .bottom {
  bottom: 0;
  /* transition: all 0.3s ease; */
}

.bottom h4 {
  font-family: font1;
  color: aliceblue;
  font-size: 1.2rem;
}
.bottom i {
  color: aliceblue;
  font-size: 1rem;
}
/*Button starts here*/
.btn{
    position: absolute;
    bottom: 20%;
    text-align: center;
    border: none;
    
}
.btn button{
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 5px 15px;
    cursor: pointer;
}
button:hover{
    color: gray;
    transition: all ease 0.3s;
}
